# Make a copy of this file with the name .env and populate the file with your environment variables

# Auth0 related configurations

# The clientId and domain for your Auth0 (native) application.
# Found in the Settings tab of your Auth0 Application 
# See https://auth0.com/docs/get-started/applications/application-settings#basic-settings
CLIENT_ID=ClientID
DOMAIN_NAME=DomainName

# The Open ID Connect Scopes for your Auth0 (native) application.
# See https://auth0.com/docs/get-started/apis/scopes/openid-connect-scopes
AUTH0_SCOPE=openid profile email

# The Identifier field for your Auth0 API (server)
# Found in the Settings tab of your Auth0 API.
# See https://auth0.com/docs/secure/tokens/access-tokens/get-access-tokens   
AUDIENCE=yourApiIdentifier


# App related configurations 

# Direct Reference App to Reference Server 
DEFAULT_URL=http://localhost:3030 
