# Make a copy of this file with the name .env and populate the file with your environment variables

# Port number to run the server on
PORT=3030

# Twilio account sid
ACCOUNT_SID=ACxxxxxxxxxxxxxx

# Twilio auth token
AUTH_TOKEN=xxxxxxxxxxxxxx

# Twilio API key
API_KEY_SID=SKxxxxxxxxxxxxxx

# Twilio API secret
API_KEY_SECRET=xxxxxxxxxxxxxx

# Twilio TwiML App sid
OUTGOING_APPLICATION_SID=APxxxxxxxxxxxxxx

# Caller ID
CALLER_ID=+11234567890

# Push credential for incoming calls
# Please see https://github.com/twilio/twilio-voice-react-native#incoming-calls
PUSH_CREDENTIAL_SID=xxxxxxxxxxxxxx

# The Identifier field on your Auth0 API's settings tab
# See https://auth0.com/docs/secure/tokens/access-tokens/get-access-tokens
AUTH0_AUDIENCE=https://xxxxxxxxxx/api

# The Domain as a secure URL found in your Auth0 Application settings
# See https://auth0.com/docs/quickstart/webapp/express/01-login 
AUTH0_ISSUER_BASE_URL=https://xxxxxxxxx.us.auth0.com/
